.icones {
    display: flex;
    justify-content: start;
        gap: 50px;

}
.conteudo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "grande grande grande caixa1"
    "grande grande grande caixa2"
    "grid grid caixa3 caixa4"
    ;
    gap:10px
}

.filho{
    background-color: aquamarine;
    height: 300px;
    width: 200px;
}

.container .filho:nth-child(1){
    grid-area: grande;
    width: auto;
    height: auto;
    color: white;
    background-image: url(fortnite.jpg);
    background-size:cover ;
    background-position: top;
    display: flex;
 justify-content: center;
 align-items: end;
}
.eu{
    margin-bottom: 0px;
    height: 50px;
    width: 5000px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
    }

.container .filho:nth-child(2){
    grid-area: caixa1;
    width: auto;
    background-image: url(pubg.jpg);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.pu{
    margin-bottom: 0px;
    height: 50px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}

.container .filho:nth-child(3){
    grid-area: caixa2;
    width: auto;
    background-image: url(slack.png);
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.sl{
    margin-bottom: 0px;
    height: 50px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.csgo {
    grid-area: caixa3;
    width: auto;
    background-size: cover;
    background-image: url(cs-go.jpg);
    color: white;
    display: flex;
    justify-content: center;
    align-items: end;
}
.cs{
    margin-bottom: 0px;
    height: 50px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.whatsapp{
grid-area: caixa4;
width: auto;
background-size: cover;
height: auto;
background-image: url(whatsapp.png);
color: white;
display: flex;
justify-content: center;
align-items: end;
}
.wt{
    margin-bottom: 0px;
    height: 50px;
    width: 500px;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.gridoutro {
grid-area: grid;
width: auto;
border: 1px solid black;
display: grid;
grid-template-columns: 1fr 1fr;
grid-template-rows: auto;
grid-template-areas: 
"um dois"
"tres quatro";
;
}
.um {
    grid-area: um;
    font-size: 20px;
    gap: 1px;
    display: flex;
    justify-content: center;
    
}
.dois {
    grid-area: dois;
   
    gap: 1px;
    display: flex;
    justify-content: center;
}
.tres {
    grid-area: tres;
   
    gap: 1px;
    display: flex;
    justify-content: center;
}
.quatro {
    grid-area: quatro;
    
    gap: 1px;
    display: flex;
    justify-content: center;
    
}
.transparencia{
    margin-bottom: 10px;
    height: 40px;
    width: 300px;
    background-color: rgba(0, 0, 0, 0.5);
}
